@import '../../assets/styles/mixin.scss';

.home-container {
  width: 960px;
  height: 100%;
  margin: 0 285px;
  display: flex;
  .left-container {
    width: 640px;
    padding: 30px 0 0 15px;
  }
  .right-container {
    width: 280px;
    margin-left: 40px;
    padding-top: 30px;
  }
}
.btn-backtotop {
  position: fixed;
  right: 40px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  transition: all linear .2s;
  opacity: 0;
  @include center;
  &:hover {
    background: #f0f0f0;
    .tooltip {
      opacity: 1;
    }
  }
  &.active {
    opacity: 1;
    cursor: pointer;
  }
  .icon-up-arrow {
    font-size: 25px;
  }
  .tooltip {
    position: absolute;
    left: -90px;
    width: 80px;
    height: 30px;
    font-size: 13px;
    @include center;
    background: #333;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: all linear .2s;
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #333;
      left: 100%;
    }
  }
}