.advertise-wrap {
  width: 280px;
  position: relative;
  box-sizing: border-box;
  .top-wrap {
    position: relative;
    width: 100%;
    height: 80px;
    letter-spacing: 1px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
    // 能用 CSS 解决就不用 JS !
    &:hover {
      .codeImg-wrap {
        opacity: 1;
      }
    }
    .title {
      position: absolute;
      left: 75px;
      top: 20px;
      font-size: 14px;
      color: #333;
    }
    .description {
      position: absolute;
      left: 75px;
      top: 45px;
      font-size: 12px;
      color: #999;
    }
    img {
      width: 60px;
      height: 60px;
      position: relative;
      top: 10px;
      left: 10px;
    }
    // 弹框
    .codeImg-wrap {
      position: absolute;
      top: -170px;
      left: 50%;
      margin-left: -75px;
      background: #fff;
      width: 150px;
      height: 150px;
      border: 1px solid #f0f0f0;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
      transition: all ease .3s;
      opacity: 0;
      &:after {
        content: ''; // 记得加 content 才行
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 101;
        margin-left: -10px;
      }
      // 如果我想给小三角再加个边框?
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-width: 11px;
        border-style: solid;
        border-color: #f0f0f0 transparent transparent transparent;
        position: absolute;
        top: calc(100% + 1px); // calc 大法好
        left: 50%;
        z-index: 100;
        margin-left: -11px;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    
  }
  .bottom-wrap {
    width: 100%;
    height: 120px;
    position: relative;
    margin-top: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
    }
    .advertise-text {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px;
      color: #333;
      background: #ccc;
      padding: 2px;
    }
  }
}